# ENVIRONMENT
PORT = 3000
NODE_ENV = development

# CLIENT
CLIENT_ORIGIN=http://localhost:5173

# DATABASE URI
MONGODB_URI = mongodb://<username>:<password>@localhost:27017/<database>?authSource=admin

# REDIS
REDIS_HOST = localhost
REDIS_PORT = 6379
REDIS_PASSWORD = 

# TOKEN
ACCESS_TOKEN_SECRET = secret_access_token_key
REFRESH_TOKEN_SECRET = secret_refresh_token_key
ACCESS_TOKEN_EXPIRY = 15m
REFRESH_TOKEN_EXPIRY = 7d